#insider {
    background-color: red;;
}

*{
background-color: rgb(129, 113, 143);
}
.header
{
     display: flex;
     width: auto;
     justify-content: space-between;
    margin: 10px;
    border: 1px solid black;

}
.logo
{
    width: 200px;
    border-radius: 12px;

}
.nav-items > ul
{
    display: flex;
    list-style-type: none;
    
    
}
.nav-items >ul > li{
    padding: 10px;
    margin: 10px;
}
.card
{
    width: 200px;
    border: 2px solid black;
    padding: 12px;
    margin: 10px;
    
    
   


}
.card >img
{
    width: 100%;
    
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
